.centered {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.name {
  font-family: "Varela Round";
  font-size: 750%;
  color:#04AA6D;
  /*background: linear-gradient(rgba(4, 170, 109, 0.9), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;*/
  
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #5e5e5e;
  position: fixed;
  height: 22.5%;
  overflow: fixed;
  opacity: 0.6;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  font-family: "Varela Round";
}
 
.sidebar a.active {
  background-color: #04AA6D;
  color: rgb(0, 0, 0);
  opacity: 0.6;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
  opacity: 0.6;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

