/*Import nice looking fonts*/

@font-face {
  font-family: "Varela Round";
  src: url(assets/VarelaRound-Regular.ttf);
}

@font-face {
  font-family: "Quicksand";
  src: url(assets/Quicksand-VariableFont_wght.ttf);
}

/*Info box css*/
.description {
  border: 5px solid #f2f2f2;
  left: 17%;
  top: 48%;
  position: absolute;
  opacity: 0.6;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 20px;
}

.text {
  width: 400px;
  inline-size: 350px;
  font-family: "Quicksand";
}

.description2 {
  border: 5px solid #f2f2f2;
  right: 15%;
  bottom: 10%;
  position: absolute;
  opacity: 0.6;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 20px;
}

.label {
  font-family: "Quicksand";
  color: #04AA6D;
}

/*Logo/robot name in the middle*/
.centered {
  position: absolute; 
  top: 38%;
  left: 27%;
  transform: translate(-50%, -50%);
  overflow: auto;
}

.img {
  display: block;
  height: auto;
  width: auto;
  transform: scale(0.25);
  overflow: auto;
}

/*Background video*/
.video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}




/*request a demo form*/
input[type=text], select, textarea {
  font-family: "Quicksand";
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px;
  margin-bottom: 16px; 
  resize: vertical 
}


input[type=submit] {
  font-family: "Quicksand";
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}


.container {
  left: 52%;
  top: 14%;
  position: absolute;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 400px;
}


/*navigation sidebar that doesnt work because javacsript is hard*/
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #8b8b8b;
  position: fixed;
  height: auto;
  overflow: fixed;
  opacity: 0.6;
}

.sidebar a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 16px;
  text-decoration: none;
  font-family: "Varela Round";
}
 
.sidebar a.active {
  background-color: #04AA6D;
  color: rgb(0, 0, 0);
  opacity: 0.6;
}

.sidebar a:hover:not(.active) {
  background-color: rgb(218, 218, 218);
  color: black;
  opacity: 0.6;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

